services:
    # Replace book client with the mock one
    app.symfony.mock_http_client.book:
        class: Symfony\Component\HttpClient\MockHttpClient
        decorates: book.client
        arguments:
            - '@App\Mock\Symfony\HttpClient\ResponseFactory\MockResponseFactoryInterface'
